<app-sidebar></app-sidebar>

<div>
  <h1>Diploma Details</h1>
  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Name</strong></td>
        <td>{{ data.nom }} {{ data.prenom }}</td>
      </tr>
      <tr>
        <td><strong>Field of Study</strong></td>
        <td>{{ data.fillier }}</td>
      </tr>
      <tr>
        <td><strong>Promotion</strong></td>
        <td>{{ data.promo }}</td>
      </tr>
      <tr>
        <td><strong>Email</strong></td>
        <td>{{ data.email }}</td>
      </tr>
      <tr>
        <td><strong>Institute</strong></td>
        <td>{{ data.institut }}</td>
      </tr>
      <tr>
        <td><strong>IPFS Hash</strong></td>
        <td>{{ data.ipfsHash }}</td>
      </tr>
      <tr>
        <td><strong>Owner Address</strong></td>
        <td>{{ data.owner }}</td>
      </tr>
      <tr>
        <td><strong>Diploma ID</strong></td>
        <td>{{ data.DiplomaId }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="sendEmail()">Notify User</button>

</div>
