<aside class="sidebar">
    <ul>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/dashboard">Dashboard</a></li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/dashboard/registration">Registration</a></li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/dashboard/gestionnaire">Liste des profs</a></li>
       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/dashboard/upload">Formulaire Diplome</a></li>

       <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><button (click)="logout()">Déconnexion</button>       </li>
    </ul>
  </aside>