// formulaire-etudiant.component.scss

form {
    max-width: 600px;
    margin-left: 350px;
    margin-top: 130px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="file"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
  
    button {
      display: block;
      color: #fff;
      text-align: center;
      padding: 14px 16px;
      border-radius: 10px;
      outline: none;
      border: none;
      margin: 1px;
      text-decoration: none;
      cursor: pointer;
      background: #a2aaae;
    }
    
  
    button[type="submit"]:hover {
      background-color: #747779;
    }
  }
  
  