.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 40px;
  
    h2 {
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        font-weight: bold;
      }
  
      input[type="text"],
      input[type="password"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
    }
  
    button {
      display: block;
              color: rgb(0, 0, 0);
              text-align: center;
              padding: 14px 16px;
              color: rgb(255, 255, 255);
              border-radius: 10px;
              outline: none;
              border: none;

              margin: 1px;
              text-decoration: none;
              cursor: pointer;
              background: #a2aaae;
              color: #FFFFFF;

              &:hover {
                  background-color: #96B6C5;
                  color: rgb(255, 255, 255);
                  border-radius: 10px;
              }
    }
  }
  